.select-box{
    margin-bottom: 15px;
}

.pdf-border{
    width: 100%;
    height: 100%;
    display: flex;
    overflow:hidden;
  }
.iframe_box{
  width: 100%;
  height: 100%;
  display: block;
}
.mobile-pdf{
    overflow:scroll;
  }